body {
  background-color: #e8f1ff;
  color: #121119;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
  margin: 2% 5%; }

.toDoList div {
  background-color: #b4b3ff;
  padding: 5%;
  width: 12em; }
