$mainText: #121119;
$lightBlue: #c6d7ff;
$deeperBlue: #b4b3ff;

body{
	background-color: #e8f1ff;
	color: $mainText;
	font-size: 1.1em;
	font-family: 'Lato', sans-serif;
	margin: 2% 5%;

	input{
	  padding: 2%;
	}
}

.weather{
	background-color: #fff;
	padding: 4% 3%;
}

.credit-logo{
    img{
	  height: 3em;
	  width: auto;
	}
}

.toDoUI{
	background-color: $lightBlue;
	height: 100%;
	padding: 3% 2%;
	position: fixed;
	right: 0;
	top: 0;
}

.toDoList{
	div{
	  background-color: $deeperBlue;
	  margin: 1%;
	  padding: 1% 2%;
	  width: 10em;
	}
}